<app-navbar class="w-100"></app-navbar>

<div class="h-100 w-100 px-0 container-fluid">
  <div
    style="background-color: blue"
    class="w-100 h-100"
    [ngClass]="{ 'col-6': showOutlet }"
  >
    <router-outlet></router-outlet>
  </div>

  <div [hidden]="!showOutlet" class="col-6" style="background-color: yellow">
    <router-outlet
      name="sidebar"
      (activate)="openSideRoute($event)"
      (deactivate)="closeSideRoute($event)"
    ></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
