.--navSize {
  height: var(--navSize) !important;
  max-height: var(--navSize) !important;
  .navbar-brand {
    padding: 0px;
    img {
      height: calc(var(--navSize) - 16px) !important;
    }
  }
}

.links {
  display: flex;
  a {
    cursor: pointer;
    span {
      vertical-align: super;
    }
  }
}

.side-menu {
  display: none;
}

::ng-deep .customize {
  background: #f8f9fa;
}

.mat-menu-item,
mat-icon {
  color: black !important;
}

button.mat-menu-item:hover {
  background-color: rgba($color: black, $alpha: 0.2) !important;
}

@media (max-width: 930px) {
  .links {
    display: none;
  }
  .side-menu {
    display: block;
  }
}
