<nav
  class="navbar --navSize navbar-fixed-top d-flex justify-content-between"
  [ngClass]="{ 'bg-light': !darkMode, 'bg-dark': darkMode }"
>
  <div class="navbar-brand">
    <a [routerLink]="['home']">
      <img src="assets/icons/icon-512x512.png" />
    </a>
  </div>
  <div class="side-menu" [hidden]="false">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu class="customize" #menu="matMenu" xPosition="before">
      <button
        mat-menu-item
        [hidden]="!homeButton"
        class="nav-link"
        [routerLink]="['home']"
        routerLinkActive="active"
      >
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button
        mat-menu-item
        [hidden]="!aboutButton"
        class="nav-link"
        [routerLink]="['about']"
        routerLinkActive="active"
      >
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
      <button
        mat-menu-item
        [hidden]="!activitiesButton"
        class="nav-link"
        [routerLink]="['schedule']"
        routerLinkActive="active"
      >
        <mat-icon>calendar_today</mat-icon>
        <span>Current Activities</span>
      </button>
      <button
        mat-menu-item
        [hidden]="!registerButton"
        class="nav-link"
        (click)="register(true)"
      >
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </button>
      <button
        mat-menu-item
        [hidden]="!chatButton"
        class="nav-link"
        [routerLink]="['chat']"
        routerLinkActive="active"
      >
        <mat-icon>chat</mat-icon>
        <span>Chat Room</span>
      </button>
      <button
        mat-menu-item
        [hidden]="!feedbackButton"
        class="nav-link"
        [routerLink]="['feedback']"
        routerLinkActive="active"
      >
        <mat-icon>feedback</mat-icon>
        <span>Feedback</span>
      </button>
      <button
        mat-menu-item
        [hidden]="!testButton"
        class="nav-link"
        (click)="test(true)"
      >
        <mat-icon>warning</mat-icon>
        <span>Test</span>
      </button>
      <button
        mat-menu-item
        [hidden]="!adminButton"
        class="nav-link"
        [routerLink]="['admin']"
        routerLinkActive="active"
      >
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin Panel</span>
      </button>
      <button
        mat-menu-item
        [hidden]="!loginButton"
        class="nav-link"
        (click)="login()"
      >
        <mat-icon>exit_to_app</mat-icon>
        <span>Login</span>
      </button>
      <button
        mat-menu-item
        [hidden]="!logoffButton"
        class="nav-link"
        (click)="logoff()"
      >
        <mat-icon>power_settings_new</mat-icon>
        <span>Logoff</span>
      </button>
    </mat-menu>
  </div>
  <div class="links">
    <a
      [hidden]="!homeButton"
      class="nav-link"
      [routerLink]="['home']"
      routerLinkActive="active"
      ><mat-icon>home</mat-icon><span>Home</span></a
    >
    <a
      [hidden]="!aboutButton"
      class="nav-link"
      [routerLink]="['about']"
      routerLinkActive="active"
      ><mat-icon>info</mat-icon><span>About</span></a
    >
    <a
      [hidden]="!activitiesButton"
      class="nav-link"
      [routerLink]="['schedule']"
      routerLinkActive="active"
      ><mat-icon>calendar_today</mat-icon><span>Current Activities</span></a
    >
    <a [hidden]="!registerButton" class="nav-link" (click)="register(true)"
      ><mat-icon>person_add</mat-icon><span>Register</span></a
    >
    <a
      [hidden]="!chatButton"
      class="nav-link"
      [routerLink]="['chat']"
      routerLinkActive="active"
      ><mat-icon>chat</mat-icon><span>Chat Room</span></a
    >
    <a
      [hidden]="!feedbackButton"
      class="nav-link"
      [routerLink]="['feedback']"
      routerLinkActive="active"
      ><mat-icon>feedback</mat-icon><span>Feedback</span></a
    >
    <a [hidden]="!testButton" class="nav-link" (click)="test(false)"
      ><mat-icon>warning</mat-icon><span>Test</span></a
    >
    <a
      [hidden]="!adminButton"
      class="nav-link"
      [routerLink]="['admin']"
      routerLinkActive="active"
      ><mat-icon>admin_panel_settings</mat-icon><span>Admin Panel</span></a
    >
    <a [hidden]="!loginButton" class="nav-link" (click)="login()"
      ><mat-icon>exit_to_app</mat-icon><span>Login</span></a
    >
    <a [hidden]="!logoffButton" class="nav-link" (click)="logoff()"
      ><mat-icon>power_settings_new</mat-icon><span>Logoff</span></a
    >
  </div>
</nav>
