<nav class="navbar navbar-fixed-top">
  <div class="navbar-brand"></div>
  <ul class="navbar-nav" routerLinkActive="active">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="currentActivities">Current Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="registration">Registration</a>
    </li>
  </ul>
</nav>

<div class="content">
  <div class="first-part">
    <div class="goals">
      <span>Language Learning made Interesting</span>
      <span>Meet, Share & Learn</span>
    </div>
  </div>
</div>
