<nav class="navbar navbar-fixed-top bg-light d-flex justify-content-between">
  <div class="navbar-brand"></div>
  <div class="d-flex">
    <a
      class="nav-link"
      [routerLink]="[{ outlets: { main: ['home'], sidebar: null } }]"
      routerLinkActive="active"
      >Home</a
    >
    <a
      class="nav-link"
      [routerLink]="[{ outlets: { main: null, sidebar: ['about'] } }]"
      routerLinkActive="active"
      >About</a
    >
    <a
      class="nav-link disabled"
      routerLink="/currentActivities"
      routerLinkActive="active"
      >Current Activities</a
    >
    <a
      class="nav-link disabled"
      routerLink="/registration"
      routerLinkActive="active"
      >Registration</a
    >
  </div>
</nav>
