.mat-form-field {
  background-color: darkslategray;
}

td {
  word-break: break-word;
}

.columns {
  max-width: 20px;
}

.icons {
  //width: 75px;
  width: 35px;
}

.add {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.iconsDiv {
  display: flex;
  a {
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding: 0;
    cursor: pointer;
  }
}

.displayCard {
  cursor: pointer;
}

.element-row:nth-child(even) {
  background-color: aliceblue;
}

.delete {
  color: #ee4d307d;
}
.edit {
  color: black;
}
.done {
  color: green;
}
.cancel {
  color: tomato;
}
