.tabs {
  background-color: #f8f9fa;
  height: 50px;
}

::ng-deep .mat-tab-label-content,
::ng-deep .mat-tab-label {
  color: black;
  opacity: 1 !important;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: #b3b3b371;
  font-weight: 700;
}

td {
  word-break: break-word;
}

.columns {
  max-width: 20px;
}

.icons {
  //width: 75px;
  width: 35px;
}

.add {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.iconsDiv {
  display: flex;
  a {
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding: 0;
    cursor: pointer;
  }
}

.displayCard {
  cursor: pointer;
}

.element-row:nth-child(even) {
  background-color: aliceblue;
}

.delete {
  color: #ee4d307d;
}
.edit {
  color: black;
}
.done {
  color: green;
  margin: 2px;
}
.cancel {
  color: tomato;
}
