<div>
  <app-loading
    *ngIf="!fullScreen"
    class="h-100 w-100"
    [hidden]="loader"
  ></app-loading>
  <app-external *ngIf="!fullScreen"></app-external>
</div>

<div class="w-100 bg-light inverted">
  <app-nav-bar *ngIf="!fullScreen"></app-nav-bar>
</div>

<main id="main" class="bg-color w-100 px-0 container-fluid pageContent">
  <div class="h-100 w-100" [ngClass]="{ 'col-6': showOutlet }">
    <router-outlet></router-outlet>
  </div>
</main>

<div class="inverted">
  <app-footer *ngIf="!fullScreen"></app-footer>
</div>
