.pageContent {
  height: calc(100% - var(--navSize) - var(--footerSize)) !important;
  overflow-y: hidden;
}

@media all and (display-mode: standalone) {
  .testBackground {
    background-color: yellow;
  }
}
