<div
  *ngIf="!showInfo; else form"
  class="h-100 w-100 info"
  (resized)="onResized($event)"
>
  <!--
    ngIf: This is a component of Angular2 that allows if tags to be 
    render only when the condition is true
  -->
  <!--
    (resized): To read the the changing layout of the screen and adapt 
    the page accordingly
  -->
  <mat-card class="wrapper mat-elevation-z4" (click)="changeUrl('participant')">
    <!--
      ngClass: Angular element, if the condition is true, set the class 
      to a HTML component: Way to dynamically set a component ot class
    -->
    <!--
      m-5 col-4(1-12): bootstrap representation for the margin and width 
      1/3rd of the screen
    -->
    <mat-card-header>
      <mat-card-title>Participant</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="m-2">
        Students who are interested in learning a new language or a new culture.
        You take part in activities.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="wrapper mat-elevation-z4" (click)="changeUrl('volunteer')">
    <!-- 
      By clicking on mat-card(click) you trigger the changeUrl function on 
      the .ts file, the round brackets means that the information flows 
      from html to .ts file and the square brackets means that the 
      information flows from the .ts file to the HTML file
    -->
    <mat-card-header>
      <mat-card-title>Volunteer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="m-2">
        Volunteers are people who are helping in organizing, planning and
        developing the Language Tandem programme itself. You can propose new
        activities, plan meeting for other volunteers, develop our website or
        support our social media….
      </p>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #form>
  <div class="w-100 h-100">
    <iframe
      class="w-100 h-100"
      [src]="currentUrl"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      >Loading…</iframe
    >
    <!--
      [src]: the square brackets represent that the it is connected to 
      Javascript, src will be the value of the currentUrl: The value 
      of the URL is defined on the .ts file
    -->
  </div>
</ng-template>

<!-- 
  To add a new button just add a new card element 
  and a new value `registration${DB_ENDPOINT}Form`
  to the database.
  <mat-card
    class="wrapper mat-elevation-z4"
    (click)="changeUrl('DB_ENDPOINT')"
  >
    <mat-card-header>
      <mat-card-title>
        HEADER
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="m-2">
        DESCRIPTION
      </p>
    </mat-card-content>
  </mat-card>
-->
