#loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  //mix-blend-mode: soft-light;
}

.wrapper {
  width: 100%;
  min-height: 100px;
  margin: auto;
}

@media (min-width: 769px) {
  .info {
    flex-wrap: wrap;
  }
  .wrapper {
    width: 40%;
  }
}
