<div class="h-100 w-100 content">
  <div class="first-part">
    <div class="goals">
      <div class="title">LANGUAGE TANDEM</div>
      <div class="sub-title">Language Learning made Interesting</div>
    </div>
    <div class="buttons-container">
      <div
        class="d-flex align-items-start justify-content-between container"
        [ngClass]="{ 'flex-column': false }"
      >
        <button [routerLink]="['', 'schedule']" tabindex="0">
          Schedule for Semester WS21
        </button>
        <button tabindex="0">Poll</button>
        <button tabindex="0">Activities for Future</button>
      </div>
    </div>
  </div>
</div>
