#bg-home {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.goals {
  position: absolute;
  bottom: 50px;
  left: 150px;
  .title {
    font-size: 20px;
  }
  .sub-title {
    font-size: 10px;
  }
}

.buttons-container {
  position: absolute;
  bottom: calc(var(--footerSize) + 10px);
  .container {
    flex-direction: column;
    max-width: 100%;
    float: left;
    button {
      min-width: 120px;
      max-width: 120px;
      height: 80px;
      margin: 5px;
    }
  }
}

.flex-column {
  flex-direction: column !important;
}

@media all and (min-width: 480px) {
  .goals {
    bottom: 150px;
    left: 100px;
    .title {
      font-size: 30px;
    }
    .sub-title {
      font-size: 15px;
      margin-top: 10px;
      margin-left: 90px;
    }
  }
  .buttons-container {
    .container {
      flex-direction: row;
    }
  }
}

@media all and (min-width: 520px) {
  .goals {
    bottom: 150px;
    left: 100px;
    .title {
      font-size: 40px;
    }
    .sub-title {
      font-size: 20px;
      margin-top: 10px;
      margin-left: 90px;
    }
  }
}
