.schedule {
  border: none;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.name {
  max-width: 135px;
  width: 135px;
}

.date {
  max-width: 135px;
  width: 135px;
}

.status {
  max-width: 80px;
  width: 80px;
}

td,
th {
  width: auto;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
}

th {
  background-color: rgb(var(--schedule-color));
  color: white;
  text-align: center;
  padding: 12px;
}

tr:hover {
  background-color: rgb(206, 206, 206) !important;
}

tr:nth-child(odd) {
  background-color: rgb(248, 248, 255);
}

tr:nth-child(even) {
  background-color: rgba(var(--schedule-color), 0.2);
}

@media all and (max-width: 892px) {
  .name,
  .date,
  .status {
    max-width: unset;
    width: auto;
  }
}
