<div class="h-100 w-100 schedule">
  <button
    mat-raised-button
    color="primary"
    [disabled]="hideExportButton"
    (click)="exportSchedule()"
    class="button"
  >
    Export schedule
  </button>
  <table>
    <colgroup>
      <col class="name" />
      <col />
      <col class="name" />
      <col class="date" />
      <col class="date" />
      <col class="date" />
      <col class="status" />
    </colgroup>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th class="date">Start</th>
      <th class="date">End</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let event of events">
      <td>{{ event.name }}</td>
      <td>{{ event.description }}</td>
      <td>{{ event.author }}</td>
      <td>{{ event.start | date: 'dd/MM/yyyy | HH:MM' }}</td>
      <td>{{ event.end | date: 'dd/MM/yyyy | HH:MM' }}</td>
      <td>{{ event.status }}</td>
    </tr>
  </table>
</div>
