<div>
  <ol>
    <li>
      Tandem Pairs: We would map 2 people who could improve their language
      knowledge by interchangeably sharing.
    </li>
    <li>
      Tandem Families: We would map a group of 4-6 people of the same language
      level. Our motivation to do this activity is that students could help each
      other with the techniques that they found useful while they are practising
      the language and to build a small community around language.
    </li>
    <li>
      Tandem Meets: We are going to continue with an online format for at least
      the first part of the semester. We are determined to do the meetings in
      real life again as soon as possible, of course when the situation gets
      better and also if you are interested!
    </li>
    <li>
      Tandem Acts: We want to start this activity the next semester. In this
      activity, we would group all the students who are learning a particular
      language. The students from this group could make a team of 4-6 people and
      write a script and/or make a short film of up to 4-8 minutes on the topic
      that you like...but the specific details would be shared with you after
      you enrol. There would be a contest and the winners would get a
      certificate and a worthy prize.
    </li>
  </ol>
</div>
