<div
  class="h-100 w-100 content"
  [style.background-image]="'url(' + '../../../../assets/imgs/bg.jpg' + ')'"
>
  <div class="first-part">
    <div class="goals">
      <div class="title">LANGUAGE TANDEM</div>
      <div class="sub-title">Language Learning made Interesting</div>
    </div>
    <div class="buttons-container">
      <div
        class="d-flex align-items-start justify-content-between container"
        [ngClass]="{ 'flex-column': false }"
      >
        <button [routerLink]="['', 'schedule']">
          Schedule for Semester WS21
        </button>
        <button>Poll</button>
        <button>Activities for Future</button>
      </div>
    </div>
  </div>
</div>
